.regular-customers__secondary-title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    & {
      margin-bottom: 50px;
    }
  }
}

.regular-customers__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  margin: -15px;
}

.regular-customers__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

.regular-customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.regular-customers__link {
  @extend %align;
  height: 92px;

  background-color: var(--background-general-white);
  color: var(--link-nonactvie);
  border: 1px solid var(--link-nonactvie);
  border-radius: 4px;

  transition: color var(--animation-duration) var(--animation-cubic),
    border var(--animation-duration) var(--animation-cubic);

  &:hover,
  &:focus {
    color: var(--button-active-blue);
    border: 1px solid var(--button-active-blue);
  }
}

.regular-customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .regular-customers__list {
    display: flex;
  }

  .regular-customers__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}
