:root {
    --background-general-white: #fff;
    --text-general-black: #212121;
    --text-subtitle-grey: #757575;
    --button-active-blue: #2196f3;
    --button-nonactive-grey: #f5f4fa;
    --logo-title-black: #000000;
    --background-footer-black: #2f303a;
    --line-header-white: #ececec;
    --text-blacktheme-white: #ffffff99;
    --hero-btn-blue: #188ce8;
    --portfolio-border-color: #eeeeee;
    --background-hero: #c4c4c4;
    --link-nonactvie: #afb1b8;
    --dark-theme-link-bgd: rgba(255, 255, 255, 0.1);
  
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }